@import "../base.variables";
.input-wrapper{
  display:inline-block;
  margin: 0 10px;
}
.input-wrapper .btn-tertiary {
  color: $base_font_color;
  padding: 0;
  line-height: 35px;
  width: 150px;
  //margin: auto;
   display: block;
  //border: 2px solid $base_black;
  background-color: $base_blue;
}

.input-wrapper .btn-tertiary:hover, .input-wrapper .btn-tertiary:focus {
  color: #888;
  border-color: #888
}

.input-wrapper .input-file {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1
}

.input-wrapper .input-file + .js-labelFile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer
}

.input-wrapper .input-file + .js-labelFile .icon:before {
  content: "\f093"
}

.input-wrapper .input-file + .js-labelFile.has-file .icon:before {
  content: "\f00c";
  color: #5AAC7B
}
