<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="../static/img/icons/user.png"
                     class="img-circle" alt="User Image"/>
            </div>
            <div class="pull-left info">
                <p>user_login</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <!--<form action="#" method="get" class="sidebar-form">-->
        <!--<div class="input-group">-->
        <!--<input type="text" name="q" class="form-control" placeholder="Search...">-->
        <!--<span class="input-group-btn">-->
        <!--<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>-->
        <!--</button>-->
        <!--</span>-->
        <!--</div>-->
        <!--</form>-->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">УПРАВЛЕНИЕ ДАННЫМИ</li>

            <li class="nav-item" id="read_btn">
                <a href="#">
                    <i><img src="../static/img/icons/save.png" height="23"
                            width="23"/></i> <span>Сохранить</span>
                </a>
            </li>
            <li class="nav-item" id="btn-upload">
                <a href="#">
                    <i><img src="../static/img/icons/upload.png " height="23" width="23"/></i>
                    <span>Загрузить данные</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#">
                    <i><img src="../static/img/icons/chart3d.png" height="24" width="24"/></i>
                    <span>3D Визуализация</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i><img src="../static/img/icons/vector.png" height="24" width="24"/></i>
                    <span>Вектора</span>
                </a>
            </li>



        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<!--<script src="../static/js/src/project/active.menu.item.js"></script>-->

