<div id="modal-container_save">
    <div id="modal-form_save"><!-- Модальное окно -->
        <div class="">
            <div class="modal-header">
                <button type="button" id="modal-close_save" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Внимание</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <label for="vector-name_save" class="pull-left">
                    Название:
                </label>
                <input type="text" id="vector-name_save" class="pull-left skin-blue">

                <button type="button" id="submit-btn_save" class="btn btn-primary pull-right">
                    Ок
                </button>

            </div>
        </div>


    </div>

</div>


<div id="overlay_save"></div><!-- Пoдлoжкa -->


