<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{'Ошибка'}}</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <script src="/static/components/jquery/jquery-min-js.js"></script>
    <link rel="stylesheet" href="../static/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/components/bootstrap/dist/css/bootstrap-theme.css">
    <script src="../static/components/bootstrap/dist/js/bootstrap.js"></script>

</head>

<body>

<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">

                <li role="presentation"><a href="/">{{'Вход в учетную запись'}}</a>
                </li>
                <li role="presentation"><a href="/register">{{'Регистрация'}}</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">{{'VISUAL MATRIX'}}</h3>
    </div>

    <div class="jumbotron">
        <h1>{{error}}</h1>
    </div>


    <footer class="footer">

    </footer>

</div>
</body>

</html>
